.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.room {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 25px;
  background: rgba(255, 255, 255, 0.062);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-effect {
  background-color: var(--primary-color);
  outline: 3px var(--primary-color) solid;
  outline-offset: -3px;
  cursor: pointer;
  transition: 400ms;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  padding: 0px 15px;
  gap: 15px;

  border-radius: 5px;
  border: none;

  margin-bottom: 15px;
}

.button .text {
  color: white;
  font-weight: 700;
  font-size: 1em;
  transition: 400ms;
}

.button-effect:hover {
  background-color: transparent;
}

.button-effect:hover .text {
  color: var(--primary-color);
}

.room-input {
  margin: 10px;
  border-radius: 10px;
  outline: 2px solid var(--primary-color);
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #e2e2e2;
  outline-offset: 3px;
  padding: 10px 1rem;
  transition: 0.25s;
}

.room-input:focus {
  outline-offset: 5px;
  background-color: #fff;
}
